.header-content {
  height: 10vh;
  border: 1px solid rgb(191, 187, 187);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 30px;
}

.input-button {
  height: 7vh;
  width: 365px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid black;
  border-radius: 10px;
}

.input-button img {
  padding: 0 5px;
  margin-left: 10px;
  width: 43px;
  height: auto;
}

.input-button input {
  border: none;
  outline: none;
  margin-left: 30px;
  font-size: 24px;
}

.input-button input:focus::placeholder {
  color: white;
}

.input-button input::placeholder {
  font-weight: bold;
  color: black;
  font-size: 24px;
  text-align: start;
}
.header-right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30px;
}

.bell {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-right: 1px solid black;
}

.bell img {
  width: 35.7px;
  height: auto;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}

.profile img {
  width: 63px;
  height: auto;
}

.profile-name {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
}
